* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
body {
	background: url("img/background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.header {
	width: 1000px;
	margin: 0 auto;
	height: 110px;
	color: white;
}
.title {
	float: left;
	line-height: 120px;
	height: 120px;
	font-family: 'Merienda One', Helvetica, sans-serif;
	font-size: 3em;
}
.banner {
	float: right;
	height: 120px;
	line-height: 120px;
}
.main {
	width: 1000px;
	min-height: 100px;
	margin: 0 auto;
	background-color: white;
	border-radius: 15px;
	padding:2em;
}
.textonly {
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	border-radius: 15px;
	text-align: left;
	padding: 2em;
}
.contactinfo {
    display: inline-block;
    width: 350px;
    vertical-align: top;
}
.map {
    display: inline-block;
    width: 580px;
    padding-left: 4em;
}
.content {
	float:left;
	width: 600px;
	text-align: left;
}
.content p {
	font-size: 1.2em;
}
.flipper {
	float: left;
	width: 300px;
	text-align: center;
	position: relative;
}
.holder,
.photo {
	display: inline-block;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 20px;
}
.holder,
.photo {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}
.photo {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.flipper:hover .holder {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.flipper:hover .photo {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.clear {
	clear: both;
}
.info {
	width:80%;
	margin: 0 auto;
	min-height: 1.2em;
	color: white;
	margin-top: 0.5em;
	font-family: Helvetica, sans-serif;
	text-align: right;
}

#navi {
	float: right;
}
#navi li {
	list-style: none;
	display: block;
	width: 5em;
	text-align: center;
	float: left;
	margin-left: 1em;
	font-size: 1.2em;
	font-family: 'Oswald', Helvetica, sans-serif;
}
#item li {
	font-size: 1.2em;
	font-family:Helvetica, sans-serif;
}
a {
	color:inherit;
	text-decoration: none;
}
a.link {
	color:blue;
}
#navi li:hover {
	color: black;
	background-color: white;
	border-radius: 15px;
}
#current {
	color: black;
	background-color: white;
	border-radius: 15px;	
}
p {
	font-size: 1em;
	font-family:Helvetica, sans-serif;
}
